@font-face {
  font-family: Heloween;
  src: url(../font/heloween.ttf);
}

@font-face {
    font-family: csnpwdt;
    src: url(../font/bloos___.ttf);

}

body {
    padding: 0;
    margin: 0;
}

.content-col {
    margin-top: 48px;
    position: absolute;
    width: 33%;
    height: 100%;
}

.topnav {
    font-family: csnpwdt, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: orange;
    width: 100%;
    font-size: 36px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
}

#pumpkin-wrapper {
    position:relative;
    top: 25%;
}

#main-pumpkin {
    cursor: pointer; cursor: hand;
    width: 50%;
    height: auto;
    margin: auto;
    left: 25%;
    position: relative;
}
